
@font-face {
    font-family: 'Meno-Bold';
    src: url('../fonts/Meno-Bold.eot');
    src: url('../fonts/Meno-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Meno-Bold.woff2') format('woff2'),
        url('../fonts/Meno-Bold.woff') format('woff'),
        url('../fonts/Meno-Bold.ttf') format('truetype'),
        url('../fonts/Meno-Bold.svg#Didot-Italic') format('svg');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff'),
      url('../fonts/Roboto-Regular.ttf') format('truetype'),
      url('../fonts/Roboto-Regular.svg#Didot-Italic') format('svg');
}

